<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <h1>Sign up page</h1>
    <a href="/login">Log in</a><br>
    <a href="/login/signUp">Sign up</a><br>

</body>
</html>